<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <connectionStrings>
    <add name="MongoConnectionString" connectionString="mongodb://dnsla:Xzh108888@42.236.82.231:27117,42.236.82.238:27117,42.236.73.18:27117"/>
    <add name="Database_mongoDB" connectionString="BindDns"/>
  </connectionStrings>
  <appSettings>
    <add key="MySQLConnectionString" value="server=42.236.73.174;database=BindDns;user=root;pwd=yujilong@@123"/>
  </appSettings>
</configuration>
