<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoConnectionString" connectionString="mongodb://admin:admin@192.168.20.246:27017,192.168.20.247:27017,192.168.20.188:27017" />
    <add name="Database_mongoDB" connectionString="BindDns" />
    <add name="SqlConnectionString" connectionString="Data Source=42.236.73.148;Initial Catalog=DNSSys;User ID=dnsweb ;pwd=hjtIs81#Lader" />
  </connectionStrings>
  <appSettings>
    <add key="MySQLConnectionString" value="server=42.236.73.174;database=BindDns;user=root;pwd=yujilong@@123" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>