<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--server=42.236.73.174;database=BindDns;user=root;pwd=yujilong@@123" providerName="mysql-->
    <add key="MySQLConnectionString" value="server=42.236.73.174;database=BindDns;user=root;pwd=yujilong@@123"/>
    <add key="MongoConnectionString" value="Servers=42.236.82.76:27017;ConnectTimeout=30000;ConnectionLifetime=300000;MinimumPoolSize=8;MaximumPoolSize=256;Pooled=true"/>
    <!--连接字符串 127.0.0.1 服务器IP   27100 mongodb服务端口号   mydb 数据库名称-->
    <add key="Database_mongoDB" value="BindDnsTest2"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>