<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MongoConnectionString" connectionString="mongodb://dnsla:Xzh108888@42.236.82.231:27117,42.236.82.238:27117,42.236.73.18:27117" />
    <!--<add name="MongoConnectionString" connectionString="mongodb://42.236.73.18:27017" />   -->
    <!--连接字符串 127.0.0.1 服务器IP   27100 mongodb服务端口号   mydb 数据库名称-->
    <add name="Database_mongoDB" connectionString="BindDns" />
    <add name="SqlConnectionString" connectionString="Data Source=42.236.73.148;Initial Catalog=DNSSys;User ID=dnsweb ;pwd=hjtIs81#Lader" />
    <add name="Redis" connectionString="192.168.30.25:6379" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>