<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="MongoConnectionString" connectionString="mongodb://192.168.20.230:27017" />-->
    <add name="MongoConnectionString" connectionString="mongodb://42.236.82.76:27017"/>
    <!--连接字符串 127.0.0.1 服务器IP   27100 mongodb服务端口号   mydb 数据库名称-->
    <add name="Database_mongoDB" connectionString="BindDns"/>
  </connectionStrings>
  <appSettings>
    <add key="MySQLConnectionString" value="server=42.236.73.174;database=BindDns;user=root;pwd=yujilong@@123"/>
    <add key="SQLServerConnectionString" value="Data Source=42.236.73.148;Initial Catalog=DNSSys;User ID=dnsweb ;pwd=hjtIs81#Lader"/>
  </appSettings>
  <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
