<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MongoConnectionString" value="mongodb://admin:admin@192.168.20.246:27017,192.168.20.247:27017,192.168.20.188:27017" />
    <!--连接字符串 127.0.0.1 服务器IP   27100 mongodb服务端口号   mydb 数据库名称-->
    <add key="Database_mongoDB" value="BindDnsTest"/>
  </appSettings>
</configuration>