<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MySQLConnectionString" value="server=192.168.20.246;database=BindDns;uid=root;pwd=.QAZxsw2" />
    <add key="MongoConnectionString" value="mongodb://admin:admin@192.168.20.246:27017,192.168.20.247:27017,192.168.20.188:27017" />
    <!--连接字符串 127.0.0.1 服务器IP   27100 mongodb服务端口号   mydb 数据库名称-->
    <add key="Database_mongoDB" value="BindDns" />
    
    <add key="MongoServer" value="172.18.100.111" />
    <add key="MongoPort" value="27017" />
    <add key="DBName" value="BindDns" />
    
    <add key="ThreadCount" value="4" />
    <add key="FileSize" value="10000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
