<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="MySQLConnectionString" value="server=192.168.20.246;database=BindDns;uid=root;pwd=.QAZxsw2;"/>
      <add key="MongoConnectionString" value="Servers=192.168.20.230:27017;ConnectTimeout=30000;ConnectionLifetime=300000;MinimumPoolSize=8;MaximumPoolSize=256;Pooled=true"/>
      <!--连接字符串 127.0.0.1 服务器IP   27100 mongodb服务端口号   mydb 数据库名称-->
      <add key="Database_mongoDB" value="BindDnsTest"/>

      <add key="ThreadCount" value="4"/>
      <add key="FileSize" value="10000"/>
    </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>